@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.Typewriter {
    white-space: pre-wrap
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #fff
    }
}